@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="container-xxl bg-white p-0">
            <Header/>
                <article class="content px-4">
                    @Body
                </article>
            <@Footer/>
        </div>
    </main>
</div>

